
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset end*/


/* Base styles start*/
body {
  background-color: #222831;
  font-size: 18px;
  color: #eee;
  font-family: 'Poppins', sans-serif;
}
a {
  color: #eee;
  text-decoration: none;
}
/* Base styles start*/


/* Wrapper styles start*/
.wrapper {
  max-width: 1248px;
  margin: 0 auto;
}
/* Wrapper styles end*/

/* Header styles start */
.header__logo {
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
.header__menu-link {
  margin-right: 48px;
}
.header__menu-link:last-child {
  margin-right: 0;
}

.header__line {
  display: flex;
  padding-top: 48px;
}

.header__line-img {
  width: 100%;
}
/* Header styles end */

/* Section styles start */
.section__wrapper {
  margin-left: 84px;
  margin-top: 215px;
}
.block {
  display: inline-block;
}

h1 {
  font-weight: bold;
  font-size: 96px;
}

.highlight {
  color: #00ADB5;
}

.actions {
  display: flex;
}

.button {
  background: #00ADB5;
  padding: 10px 32px;
  border-radius: 24px;
  color: #EEEEEE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.hire {
  margin-right: 24px;
}

.download {
  background: rgba(57, 62, 70, 0.75);
}

.section_image-man {
  display: flex;
  margin-left: 718px;
  margin-bottom: 10px;
}
/* Section styles end */